{% extends "layout.html" %}
{% block body %}
<h1><a href="/">Pomona Watcher</a> &mdash; <a href="https://www.youtube.com/channel/UCnXsE80xNi4UAJVV4kf2FQQ">YouTube</a></h1>
  <div class="current">
    <a href="{{ url_for('static', filename='captures/') }}{{current}}">
      <img src="{{ url_for('static', filename='captures/') }}{{current}}" alt="Pomona!" />
    </a>
  </div>
  <br/>
  <div class="previous">
    <div class="previous__subcategory">
        <h2>Previous Images</h2>
        {% for file in images %}
          <a href="{{ url_for('static', filename='captures/') }}{{file}}">{{file}}</a><br/>
        {% else %}
          <p>No other captures.</p>
        {% endfor %}
    </div>
  </div>
{% endblock %}
